<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
		<script type="application/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
		<script type="application/javascript" th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.js}"></script>
		<title>测试中...</title>
		<script>
			var startDate = new Date();
			var endTime = new Date();
			var timeArray = new Array();
			var i = 1;
			$(function () {
				setTimeout(changeimg,3000);
			});
			function changeimg() {
				$(".picture").css("display", "none");
				startDate = new Date();
			}
			function next() {
				if ($(".picture").css("display") == "block") {
				}else {
					endTime = new Date();
					var time = endTime-startDate;
					timeArray.push(time);
					var b = '#' + i + '';
					$(b).css("display", "none");
					var c = '#' + (i + 1) + '';
					$(c).css("display", "block");
					$(".picture").css("display", "block");
					setTimeout(changeimg,3000);
					i++;
					//进行异步提交时间
					if(i==751) {
						//进行异步请求
						$.ajax({
							type: 'post',
							url: '/test_system/api/v1/selectGroup/saveLearnTime',
							data: {timeList:timeArray},
							traditional:true
							}
						);
						location="/relaxing.html";
					}
				}
			}
		</script>
	</head>
	<body class="fontstyle">
	<div th:id="${objString.get(0).number}">
		<div class="picture">
			<img th:src="@{${objString.get(0).imageUrl}}" name="image" width="500px" height="400px"/>
		</div>
		<div class="btn">
			<button type="button" th:value="${objString.get(0).number}" style="position: fixed;margin-left: 350px;margin-top: 550px" class="button" onclick="next()">下一张</button>
		</div>
	</div>
	<div th:each="s : ${objString}" th:if="${s.number != 1}">
		<div th:id="${s.number}" style="display: none">
			<div class="picture">
				<img th:src="@{${s.imageUrl}}" name="image" width="500px" height="400px"/>
			</div>
			<div class="btn">
				<button type="button" class="button" style="position: fixed;margin-left: 350px;margin-top: 550px" onclick="next()">下一张</button>
			</div>
		</div>
	</div>
	</body>
</html>
