<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/layout.css" />
		<link rel="stylesheet" type="text/css" href="css/TestStage.css" />
		<title></title>
	</head>
	<body class="fontstyle">
		<div class="picture" >
			<img src="img/1.jpg" />
		</div>
		<div class="Testbtn">
			<div class="TestButton">
				<button type="button" class="button">是</button>
			</div>
			<div class="TestButton">
				<button type="button" class="button">否</button>
			</div>
		</div>
	</body>
</html>